@using TDMUAdmin.Models

@{ 
    TaiKhoan tk = (TaiKhoan)Session["TaiKhoan"];
}

<div class="header-container fixed-top">
    <header class="header narbar navbar-expand-sm expand-header">

    @*------------LEFT LOGO---------------*@
    <div class="header-left d-flex">
        <div class="logo">
            TDMUAdmin
        </div>
        <a href="#" class=
           "sidebarCollapse" id="toggleSideBar" data-placement="bottom">
            <span class="fas fa-bars"></span>
        </a>
    </div>

    @*----------RIGHT DROP DOWN MENU--------------*@
    <ul class="navbar-item flex-row ml-auto">
        <li class="nav-item dropdown user-profile-dropdown">
            @if (Session["TaiKhoan"] == null)
            {
                <a href="#" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                    <img src="~/Areas/Admin/Assets/img/bell.png" class="icon" />
                    <p class="count purple-gradient">1</p>
                </a>
                <div class="dropdown-menu">
                    <div class="dp-main-menu">
                        <a href="#" class="dropdown-item message-item">
                            <img src="~/Areas/Admin/Assets/img/server.png" alt="" class="user-note" />
                            <div class="note-info-desmis">
                                <div class="user-notify-info">
                                    <p class="note-name">Trạng thái server</p>
                                    <p class="note-time">Đang hoạt động</p>
                                </div>
                                <p class="status-link"><span class="fas fa-times"></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            }
            else
            {
                @Html.Action("LoadChildNotify", "TDMUAdmin", new { id = tk.ID })
            }
        </li>

    @*Nav message*@
        <li class="nav-item dropdown user-profile-dropdown">
            @if (Session["TaiKhoan"] == null)
            {
            <a href="#" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                <img src="~/Areas/Admin/Assets/img/message.png" class="icon" />
                <p class="count bg-clc">1</p>
            </a>

            <div class="dropdown-menu">
                <div class="dp-main-menu">

                    @*Message dropdown item*@
                    <a href="#" class="dropdown-item message-item">
                        <img src="~/Areas/Admin/Assets/img/robot.png" alt="" class="sms-user" />
                        <div class="user-message-info">
                            <p class="m-user-name">Hệ Thống</p>
                            <p class="user-role">Chào bạn, bạn vui lòng đăng nhập đề sử dụng đầu đủ tính năng!</p>
                        </div>
                    </a>

                </div>
            </div>
            }
            else
            {
                @Html.Action("LoadChildMessage", "TDMUAdmin", new { id = tk.ID })
            }
        </li>

        @*Nav profile item*@
        <li class="nav-item dropdown user-profile-dropdown">
            @if (Session["TaiKhoan"] == null)
{
                <a href="#" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                    <img src="~/Areas/Admin/Assets/img/profile.png" class="icon" />
                </a>

                <div class="dropdown-menu">

                    <div class="user-profile-section">
                        <div class="media mx-auto">
                            <img src="~/Areas/Admin/Assets/img/profile.png" alt="" class="img-fluid mr-2" />
                            <div class="media-body">
                                <h5>Bạn chưa đăng nhập</h5>
                                <p>Khách</p>
                            </div>
                        </div>
                    </div>

                    <div class="dp-main-menu">
                        <a href="@Url.Action("Login", "User", new { url = Request.Url.ToString() })" class="dropdown-item"><span class="fa-solid fa-right-to-bracket"></span>Đăng nhập</a>

                        <a href="#" class="dropdown-item"><span class="fa-solid fa-registered"></span>Đăng ký</a>
                    </div>

                </div>
                }
                else
                {
                <a href="#" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                    <img src="~/Areas/Admin/Assets/img/user-image/@tk.ImagePath" class="icon" />
                </a>

                <div class="dropdown-menu">

                    <div class="user-profile-section">
                        <div class="media mx-auto">
                            <img src="~/Areas/Admin/Assets/img/user-image/@tk.ImagePath" alt="" class="img-fluid mr-2" />
                            <div class="media-body">
                                <h5>@tk.HoTen</h5>
                                <p>@tk.ChucVu</p>
                            </div>
                        </div>
                    </div>

                    <div class="dp-main-menu">

                        <a href="#" class="dropdown-item"><span class="fas fa-user"></span>Profile</a>
                        <a href="#" class="dropdown-item"><span class="fas fa-inbox"></span>Inbox</a>
                        <a href="#" class="dropdown-item"><span class="fas fa-lock-open"></span>Look Screen</a>
                        <a href="@Url.Action("Logout", "User")" class="dropdown-item"><span class="fas fa-outdent"></span>Logout</a>
                    </div>
                </div>
}
        </li>

        @*Nav setting item*@
        <li class="nav-item dropdown user-profile-dropdown">
            <a href="#" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                <img src="~/Areas/Admin/Assets/img/settings.png" class="icon" />
            </a>

            <div class="dropdown-menu">
                <div class="dp-main-menu">
                    <a href="#" class="dropdown-item"><span class="fas fa-plug"></span>Permittion</a>
                    <a href="#" class="dropdown-item"><span class="fas fa-user"></span>Admin</a>
                    <a href="#" class="dropdown-item"><span class="fas fa-object-ungroup"></span>Design Type</a>
                    <a href="#" class="dropdown-item"><span class="fas fa-palette"></span>Color</a>
                </div>
            </div>

        </li>
    </ul>

    </header>
</div>