@model TDMUAdmin.Models.ThongBao

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    // Check if ViewBag.AccessLevel is not null and can be converted to string
    string accessLevelString = ViewBag.AccessLevel != null ? ViewBag.AccessLevel.ToString() : "0";
}

@if (int.TryParse(accessLevelString, out int accessLevel) && (accessLevel > 4 || accessLevel < 1))
{
    <div class="content-wrapper">
        <section>
            <div class="row">
                <div class="col-lg m-4">
                    <h2 style="color: red;">RẤT TIẾC, BẠN KHÔNG CÓ QUYỀN XEM THÔNG TIN TRÊN TRANG NÀY!</h2>
                    <h4>Liên hệ người quản trị để được phân quyền hoặc giải đáp các thắc mắc, xin cảm ơn!</h4>
                </div>
            </div>
        </section>
    </div>
}
else
{
    <div class="content-wrapper">
        <section>
            <div class="row">
                <div class="col-lg m-4">
                    <h2>THÊM THÔNG BÁO</h2>
                    @*Thêm thuộc tính cho form để upload ảnh*@
                    @using (Html.BeginForm("Create", "Notify", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label class="control-label col-md-2">Gửi đến:</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("MaKhoa")
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Loại thông báo:</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("MaLTB")
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Tiêu đề:</label>
                                <div class="col-md-10">
                                    <input type="text" size="70" name="sTieuDe" value="@ViewBag.TieuDe" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Nội dung:</label>
                                <div class="col-md-10">
                                    <textarea class="mc-tinymce" name="sNoiDung">@ViewBag.NoiDung</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Ghi chú:</label>
                                <div class="col-md-10">
                                    <input type="text" size="70" name="sGhiChu" value="@ViewBag.GhiChu" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Thêm mới" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                    <div>
                        @Html.ActionLink("VỀ TRANG QUẢN LÝ THÔNG BÁO", "Index")
                    </div>

                </div>
            </div>
        </section>
    </div>
}

